<br>

<div class="hero-unit">
  <h1>The PeerReviewApp</h1>
  <p> Your rules. Your Peers. </p>
  <p> Hallo Kollege, </br> schön, dass Du Dir die Zeit nimmst, Deinen Kollegen ein strukturiertes Feedback zu geben. Neben dem alltäglichen (unersetzbaren) “Miteinander Reden” sollen an dieser Stelle die Faktoren Produktivität, Quälität, MVP, technische Excellenz, unternehmerische Weitsicht, Zusammenarbeit, Wissenstransfer und Dev/Scrum Orga betrachtet werden.</p>
  
<p>Damit die Peer Review funktioniert, beachte bitte Folgendes: </p>
<ol>
	<li> Wähle Deine Rolle aus, dann bekommst Du auch die richtigen Fragen </li>
	<li> Bitte plance ca. eine halbe Stunde zur Beantwortung ein. Schneller klappt es nicht. </li>
	<li> Jeder Jeck ist anders! Daher mache Dir bitte Gedanken über jeden einzelnen Deiner Kollegen. Ganz wichtig: Es ist nicht gewollt, dass Du im Feedbackprozess ein Ranking erstellst! </li>
	<li> Ehrlichkeit währt am längsten </li>
<li> Dieses Tool ist in der Hauptsache für Dich. Wenn irgendetwas nicht stimmt, Dir komisch vorkommt oder Dir nicht passt, bitte gib Feedback zum Feedback und kläre alle Unklarheiten. </li>
</ol>

<p>Weitere Infos gibt es im <a href="https://wiki.adcloud.com/display/DEV/PeerReview+App"> Wiki </a> </p>

<p>Vielen Dank!</p>

<p>
  	<%= link_to 'New PeerReview', new_review_path, class: 'btn btn-primary btn-large' %>
</p>
</p>
</div>