<br />
<h3> Reviews you have made </h3>
<table>
  <thead>
    <tr>
      <th>Member</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.member.email %></td>
      <td><%= review.created_at %></td>
      <td><%= link_to 'Fill out', controller: :reviews, action: :fill_out_review, id: review.id  %></td>
      <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />